body {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.title {
    color: #373737;
    font-weight: bold;
}

.text {
    font-size: 14px;
    color: #707070;
    line-height: 18px;
    font-weight: 400;
}


/* Menu */
header {
    height: 72px;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: calc(100vw - 32px);
    padding: 0px 16px;
    z-index: 1;
    background: #fff;
}

.menu-nav {
    display: none;
}

.menu-nav li {
    font-size: 1rem;
}

.menu-nav li:hover {
    color: #4F52FF;
    border-bottom: 1px solid #4F52FF;
}

.menu-button {
    background: none;
    border: none;
}

.menu-icon {
    font-size: 2rem;
    color: #000;
    transition: .2s linear;
}

.logo a img {
    width: 90px;
}

.menu-nav_on {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 225px;
    width: 150px;
    background: #fff;
    right: 16px;
    top: 80px;
    border-radius: 4px;
}

.menu-animation {
    transform: rotate(90deg);
}


/* Inicio */
.inicio {
    height: Calc(100vh - 72px);
    width: 100vw;
    background: url(./img/inicio-fundo-mobile.png) no-repeat;
    background-size: 100% ;
    display: flex;
    justify-content: center;
}

.inicio-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-image {
    height: 240px;
    margin-bottom: 52px;
}

.text-center {
    text-align: center;
}

.inicio-box h1 {
    color: #4F52FF;
    font-size: 2rem;
    font-weight: bold;
    line-height: 38px;
}

.inicio-box h2 {
    font-size: 18px;
    line-height: 21px;
}

.inicio-box p {
    margin: 8px 0px 18px;
    width: 300px;
}

.box-button button {
    height: 100%;
    width: 48%;
    padding: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #4F52FF;
    border: none;
    border-radius: 4px;
}

.box-button {
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.box-button button:nth-child(2) {
    background: #fff;
    color: #01A6BA;
    border: 1px solid #01A6BA;
}

/* APP */

main {
    width: 100vw;
    background: #7E81FF;
}

.app {
    padding: 100px 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.app-aba {
    display: flex;
    align-items: end;

}

.aba {
    display: flex;
    padding: 6px;
    font-size: 1.5rem;
    color: #000;
    background: #E0E0E0;
    border: none;
}

.app-aba button:nth-child(1) {
    border-radius: 4px 0px 0px 0px;
}

.app-aba button:nth-child(3){
    border-radius: 0px 4px 0px 0px;
}

.press {
    color: #4F52FF;
    padding: 8px;
    background: #fff;
    border-radius: 4px 4px 0px 0px !important;
}

.app-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px 14px;
    background: #fff;
    border-radius: 0px 4px 4px 4px;
    box-sizing: border-box;
}

.app-form h1 {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.app-form p {
    width: 75%;
    text-align: center;
    margin-bottom: 24px;
}

.form-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.form-input {
    border-radius: 4px;
    border: none;
    background: #EDEDED;
    color: #707070;
    font-size: 14px;
    padding: 18px 24px;
    flex-grow: 2;
    box-sizing: border-box;
    min-width: 200px;
}

.form-button {
    border-radius: 4px;
    border: none;
    background: #4F52FF;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 24px;
    flex-grow: 1;
}

.motivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./img/app-background.png) no-repeat bottom;
    background-size: 100vw 47vh;
    padding: 0px 16px 50px 16px;
}

.motivo-imagem{
    width: 70%;
}

.motivo-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 14px;
    background: #fff;
    border-radius: 4px;
}

.motivo-cont h1 {
    font-size: 20px; 
    margin-bottom: 12px;
}

.cont-recursos {
    margin-top: 24px;
    display: flex;
    gap: 4px;
}

.cont-recursos p {
    font-size: 16px;
    font-weight: bold;
    color: #4E4E4E;
}

.cont-recursos i {
    color: #4E4E4E;
    font-size: 18px;
}

